---
title: About
layout: default
---

<div class="row row-cols-1 row-cols-lg-2 mt-2">
  <div class="col">
    <h1 class="display-6">Work Experience</h1>
    <ul>
      {% for job in site.data.employment %}
      <li><strong>{{job.company}} {{job.date}}</strong></li>
      <p>{{job.description}}</p>
      {% endfor %}
    </ul>
  </div>
  <div class="col">
    <h1 class="display-6">Education</h1>
    <ul>
      {% for school in site.data.education %}
      <li>
        <strong>{{school.degree}}</strong><br />
        {{school.school}}, {{school.location}}, {{school.year}}
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
