.align-items-center {
  align-items: center;
}
.project-image {
  margin: 1rem;
}
.me {
  width: 150px;
  height: 150px;
  border-radius: 75px;
  border-style: solid;
  border-width: 1px;
}

.linkedin {
  color: #0077b5;
}

.github {
  color: #2b3137;
}

* {
  list-style: none;
}
